<?xml version = '1.0' encoding = 'windows-1252'?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <description>Empty web.xml file for Web Application</description>
  <filter>
    <filter-name>XSS</filter-name>
    <filter-class>com.filter.CrossScriptingFilter</filter-class>
  </filter>
  <filter>
    <filter-name>ChkAutServlet</filter-name>
    <filter-class>com.filter.ChkAutServlet</filter-class>
    <init-param>
      <param-name>ASSOFPSCNTL</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>ASSOFPSOXCNTRCNTL</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>COLOCATIONCNTL</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>GESTASSOFPSCNTL</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>GESTASSOFPSXCONTRCNTL</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>LISTINOCNTL</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>OGGFATTCNTL</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>TARIFFACNTL</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>TARIFFAXCONTRCNTL</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>LANCIOVALATTIVACNTL</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>PerformanceFilter</filter-name>
    <filter-class>com.filter.PerformanceFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>XSS</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ChkAutServlet</filter-name>
    <url-pattern>/servlet/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PerformanceFilter</filter-name>
    <url-pattern>/*.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>SendMail</servlet-name>
    <servlet-class>com.servlet.SendMail</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>com.utl.Servlet1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Controller</servlet-name>
    <servlet-class>com.servlet.Controller</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>loadTree</servlet-name>
    <servlet-class>com.servlet.loadTree</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.servlet.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Lista_gestori</servlet-name>
    <servlet-class>com.servlet.Lista_gestori</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UplFiles</servlet-name>
    <servlet-class>com.servlet.UplFiles</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UplFilesAnnulla</servlet-name>
    <servlet-class>com.servlet.UplFilesAnnulla</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UplFilesAnnOrd</servlet-name>
    <servlet-class>com.servlet.UplFilesAnnOrd</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Lista_gestori_fine</servlet-name>
    <servlet-class>com.servlet.Lista_gestori_fine</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AssOfPsCntl</servlet-name>
    <servlet-class>com.servlet.AssOfPsCntl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OggFattCntl</servlet-name>
    <servlet-class>com.servlet.OggFattCntl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TariffaCntl</servlet-name>
    <servlet-class>com.servlet.TariffaCntl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TariffaXContr</servlet-name>
    <servlet-class>com.servlet.TariffaXContr</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TariffaXContrCntl</servlet-name>
    <servlet-class>com.servlet.TariffaXContrCntl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GestAssOfPsCntl</servlet-name>
    <servlet-class>com.servlet.GestAssOfPsCntl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListinoCntl</servlet-name>
    <servlet-class>com.servlet.ListinoCntl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LancioValAttivaCntl</servlet-name>
    <servlet-class>com.servlet.LancioValAttivaCntl</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>StrutturaWeb</servlet-name>
    <servlet-class>com.strutturaWeb.ServletStrutturaSpecial</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ColocationCNTL</servlet-name>
    <servlet-class>com.servlet.ColocationCNTL</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GestAssOfPsXContrCntl</servlet-name>
    <servlet-class>com.servlet.GestAssOfPsXContrCntl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AssOfPsXContrCntl</servlet-name>
    <servlet-class>com.servlet.AssOfPsXContrCntl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UplFiles</servlet-name>
    <servlet-class>com.servlet.UplFiles</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UplFilesAnnulla</servlet-name>
    <servlet-class>com.servlet.UplFilesAnnulla</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UplFilesAnnOrd</servlet-name>
    <servlet-class>com.servlet.UplFilesAnnOrd</servlet-class>
  </servlet>  
  <servlet>
    <servlet-name>GestScartiIav</servlet-name>
    <servlet-class>com.servlet.GestScartiIav</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/Controller</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>StrutturaWeb</servlet-name>
    <url-pattern>/servletStrutturaWeb</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UplFiles</servlet-name>
    <url-pattern>/UplFiles</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UplFilesAnnulla</servlet-name>
    <url-pattern>/UplFilesAnnulla</url-pattern>
  </servlet-mapping>  
  <servlet-mapping>
    <servlet-name>UplFilesAnnOrd</servlet-name>
    <url-pattern>/UplFilesAnnOrd</url-pattern>
  </servlet-mapping>    
  <servlet-mapping>
    <servlet-name>GestScartiIav</servlet-name>
    <url-pattern>/gestscartiiav</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loadTree</servlet-name>
    <url-pattern>/loadTree</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendMail</servlet-name>
    <url-pattern>/SendMail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Lista_gestori</servlet-name>
    <url-pattern>/lista_gestori</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Lista_gestori_fine</servlet-name>
    <url-pattern>/lista_gestori_fine</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OggFattCntl</servlet-name>
    <url-pattern>/servlet/OggFattCntl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TariffaCNTL</servlet-name>
    <url-pattern>/servlet/TariffaCNTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TariffaXContrCntl</servlet-name>
    <url-pattern>/servlet/TariffaXContrCntl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ColocationCNTL</servlet-name>
    <url-pattern>/servlet/ColocationCNTL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LancioValAttivaCntl</servlet-name>
    <url-pattern>/servlet/LancioValAttivaCntl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListinoCntl</servlet-name>
    <url-pattern>/servlet/ListinoCntl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AssOfPsXContrCntl</servlet-name>
    <url-pattern>/servlet/AssOfPsXContrCntl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GestAssOfPsXContrCntl</servlet-name>
    <url-pattern>/servlet/GestAssOfPsXContrCntl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AssOfPsrCntl</servlet-name>
    <url-pattern>/servlet/AssOfPsCntl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GestAssOfPsCntl</servlet-name>
    <url-pattern>/servlet/GestAssOfPsCntl</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <mime-mapping>
    <extension>html</extension>
    <mime-type>text/html</mime-type>
  </mime-mapping>
  <mime-mapping>
    <extension>txt</extension>
    <mime-type>text/plain</mime-type>
  </mime-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>Controller</welcome-file>
  </welcome-file-list>
  <taglib>
    <taglib-uri>/webapp/DataTags.tld</taglib-uri>
    <taglib-location>/WEB-INF/lib/datatags.jar</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/webapp/logtag</taglib-uri>
    <taglib-location>/WEB-INF/lib/logtag.jar</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/webapp/pg</taglib-uri>
    <taglib-location>/WEB-INF/lib/pg.jar</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/webapp/sec</taglib-uri>
    <taglib-location>/WEB-INF/lib/sec.jar</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/webapp/Tar</taglib-uri>
    <taglib-location>/WEB-INF/lib/Tar.jar</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>email.tld</taglib-uri>
    <taglib-location>/WEB-INF/lib/email.jar</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>http://xmlns.oracle.com/jsp/taglibs/ejbtaglib.tld</taglib-uri>
    <taglib-location>/WEB-INF/lib/ejbtaglib.jar</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>http://xmlns.oracle.com/uix/ui</taglib-uri>
    <taglib-location>/WEB-INF/lib/uix2tags.jar</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>http://xmlns.oracle.com/uix/ui/bc4j</taglib-uri>
    <taglib-location>/WEB-INF/lib/bc4juixtags.jar</taglib-location>
  </taglib>
  <!-- Inizio Cpi -->
  <!-- Fine Cpi -->
  <ejb-ref>
    <ejb-ref-name>ejb/I5_6tree</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <home>com.ejbSTL.I5_6treeHome</home>
    <remote>com.ejbSTL.I5_6tree</remote>
    <ejb-link>I5_6tree</ejb-link>
  </ejb-ref>
  <ejb-ref>
    <ejb-ref-name>ejb/Security</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <home>com.ejbSTL.SecurityHome</home>
    <remote>com.ejbSTL.Security</remote>
    <ejb-link>Security</ejb-link>
  </ejb-ref>
  <ejb-ref>
    <ejb-ref-name>ejb/tariffeEJB</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <home>com.ejbSTL.tariffeEJBHome</home>
    <remote>com.ejbSTL.tariffeEJB</remote>
    <ejb-link>tariffeEJB</ejb-link>
  </ejb-ref>
  <ejb-ref>
    <ejb-ref-name>ejb/I5_6ANAG_UTENTEejb</ejb-ref-name>
    <ejb-ref-type>Entity</ejb-ref-type>
    <home>com.ejbBMP.I5_6ANAG_UTENTEejbHome</home>
    <remote>com.ejbBMP.I5_6ANAG_UTENTEejb</remote>
    <ejb-link>I5_6ANAG_UTENTEejb</ejb-link>
  </ejb-ref>
  <ejb-ref>
    <ejb-ref-name>ejb/I5_6PROF_UTENTEejb</ejb-ref-name>
    <ejb-ref-type>Entity</ejb-ref-type>
    <home>com.ejbBMP.I5_6PROF_UTENTEejbHome</home>
    <remote>com.ejbBMP.I5_6PROF_UTENTEejb</remote>
    <ejb-link>I5_6PROF_UTENTEejb</ejb-link>
  </ejb-ref>
  <ejb-ref>
    <ejb-ref-name>ejb/I5_6ANAG_FUNZ</ejb-ref-name>
    <ejb-ref-type>Entity</ejb-ref-type>
    <home>com.ejbBMP.I5_6ANAG_FUNZHome</home>
    <remote>com.ejbBMP.I5_6ANAG_FUNZ</remote>
    <ejb-link>I5_6ANAG_FUNZ</ejb-link>
  </ejb-ref>
  <ejb-ref>
    <ejb-ref-name>ejb/I5_2PARAM_VALORIZ_CL</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <home>com.ejbSTL.I5_2PARAM_VALORIZ_CLHome</home>
    <remote>com.ejbSTL.I5_2PARAM_VALORIZ_CL</remote>
    <ejb-link>I5_2PARAM_VALORIZ_CL</ejb-link>
  </ejb-ref>
  <ejb-ref>
    <ejb-ref-name>ejb/I5_2SCONTO_CL</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <home>com.ejbSTL.I5_2SCONTO_CLHome</home>
    <remote>com.ejbSTL.I5_2SCONTO_CL</remote>
    <ejb-link>I5_2SCONTO_CL</ejb-link>
  </ejb-ref>
  <ejb-ref>
    <ejb-ref-name>ejb/I5_6MEM_FUNZ_PROF_OP_EL</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <home>com.ejbSTL.I5_6MEM_FUNZ_PROF_OP_ELHome</home>
    <remote>com.ejbSTL.I5_6MEM_FUNZ_PROF_OP_EL</remote>
    <ejb-link>I5_6MEM_FUNZ_PROF_OP_EL</ejb-link>
  </ejb-ref>
  <ejb-ref>
    <ejb-ref-name>ejb/TipoArrotondamento</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <home>com.ejbSTL.Ent_TipoArrotodamentoHome</home>
    <remote>com.ejbSTL.Ent_TipoArrotodamento</remote>
    <ejb-link>TipoArrotondamento</ejb-link>
  </ejb-ref>
  <ejb-ref>
    <ejb-ref-name>ejb/I5_2PROMOZIONI</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <home>com.ejbSTL.I5_2PROMOZIONIHome</home>
    <remote>com.ejbSTL.I5_2PROMOZIONI</remote>
    <ejb-link>I5_2PROMOZIONI</ejb-link>
  </ejb-ref>
</web-app>
